<!DOCTYPE html>
  <html lang="en-US">
    <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width" />
      <title>Kirill</title>
    </head>
  <body>
    <button id="power-on-button">Power On Button</button>
    <script src="client_audio_output/src/audioOutput.jsasync defer>"</script>
  </body>
</html>